@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%

}

body{
    min-height: 100%;
}


.mainContainer{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 2.5%);

}

.dashboard{
    background-color: rgb(33, 109, 209);
    grid-column: 1 / 3;
    grid-row: 1 / 41;
    min-height: 150vh;
    padding-left: 15px;
}

.dahsboardGroup{
    display: flex;
    padding-bottom: 30px;
    padding-top: 15px;
}

.dashImg{
    height: 50px;
    width: 50px;
    filter: invert(100%);
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.dashImgs{
    padding-left: 10px;
}

.dashImgText{
    color:white;
    padding-left: 20px;
    padding-top: 12px;
    font-size: x-large;
    font-weight: bold;
}

li:first-child {
    margin-top:0;
}

li{
    padding: 0;
    list-style-image: url(media/Material/cog.svg);
    color: white;
    list-style-type: none;
    margin-top: 10px;
}



.imageUL{
    display: flex;
    padding: 0;
    margin-top: 0px;
    margin-left: 8px;
}

.dashImgs{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.dashImgs > img{
    height: 25px;
    width: 25px;
    filter: invert(100%);
    margin-bottom: 25px;
}

ul > li{
    margin-bottom: 29px;
    font-weight: bolder;
    font-size: large;
    margin-left: 0;
    padding-left: 0;
}

ul{
    padding-left: 30px;
}

.header{
    display: flex;
    background-color: white;
    flex-direction: column;
    grid-column: 3 / 12;
    grid-row: 1 / 8;
    padding-top: 10px;
    padding-left: 20px;
}

.magnify{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    
}

.searchBar{
    margin-left: 10px;
    border-radius: 14px;
    padding: 8px 230px;
    height: 20px;
    margin-right: 80px;
    background-color: grey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(240, 235, 235);
    opacity: 1; /* Firefox */
  }

  input, select, textarea{
    color: #ece1e1;
}

.bell{
    height: 25px;
    width: 25px;
    margin-top: 5px;
    margin-left: 75px;
}

.topCat{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}

.bottomCat{
    height: 75px;
    width: 75px;
}

.topHeader{
    display: flex;
}

.bottomHeader{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.helloTxt{
    margin-top: 12px;
    margin-left: 15px;
}

.smolHelloTxt{
    font-size: small;
    margin-bottom: 10px;
}

.bigHelloTxt{
    font-size: x-large;
    font-weight: bolder;
}

.buttonGroup{
    display: flex;
    margin-left: 260px;
    padding-left: 185px;
}

.buttonGroup > button{
    height: 38px;
    width: 85px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(56, 139, 248);
    border-radius: 14px;
    color: white;
    font-weight: bold;
    border: none;
}

.cardGrid{
    grid-column: 3 / 11;
    grid-row: 8 / 41;
    background-color: grey;
    padding-left: 20px;
    padding-top: 10px;
    
}

.cardHeadings{
    display: grid;
}

.projHeading{

}

.announceHeading{
    grid-column: 10 / 11;
}

.card{
    height: 150px;
    width: 300px;
    background-color: white;
    font-size: medium;
    padding: 25px;
    border-radius: 14px;
    border-left: 10px solid rgb(209, 209, 2);
}

.CardsGrid2{
    Display: grid;
    grid-template-columns: repeat(12, 55px);
    grid-template-rows: repeat(32,25px);
}

#card1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

#card2{
    grid-row: 1 / 3;
    grid-column: 8 / 12;
}

#card3{
    grid-row: 10;
    grid-column: 1 / 3;
}

#card4{
    grid-row: 10;
    grid-column: 8 / 12;
}

#card5{
    grid-row: 19;
    grid-column: 1 / 3;
}

#card6{
    grid-row: 19;
    grid-column: 8 / 12;
}

.cardImages{
    display: flex;
    justify-content: end;
}

.cardImages > img{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
